<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" media="(device-height: 568px)"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>Notes</title>

    <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="components/codemirror/theme/solarized.css">

    <!-- <link rel="stylesheet" type="text/css" href="//rawgit.com/HackerWins/summernote/master/dist/summernote.css"> -->

    <link rel="stylesheet" type="text/css" href="core/styles.css">
</head>
<body>
    <table class="table table-bordered" width="100%" height="100%">
        <tr>
            <td colspan="2" height="10" valign="middle" style="line-height:0">
                <h3 style="margin:0">
                    <span id="expand">
                        <i class="glyphicon glyphicon-expand"></i>
                    </span>
                    Notes
                    <span class="pull-right logged-out">
                        <a class="login" href="#">Login</a>
                    </span>
                    <span class="pull-right logged-in" style="display:none">
                        <span class="username">user</span> |
                        <a class="logout" href="#">Logout</a>
                    </span>
                </h3>
            </td>
        </tr>
        <tr>
            <td width="280px" id="side-bar">
                <button class="btn btn-block add-new">New Note</button>
                <hr>
                <div class="list-group" id="search-list" style="display: none"></div>
                <div class="list-group" id="note-list"></div>
                <button class="btn btn-block toggle-trash">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span class="trash-text">Open Trash</span>
                    [<span class="trash-count">0</span>]
                </button>
            </td>
            <td class="editor-container">
                <div class="header text-right">
                    <form class="form-inline pull-left" role="form">
                        <input type="search" class="form-control" placeholder="Search Notes" id="search">
                    </form>
                    <button class="btn preview-btn">Preview</button>
                    <span class="note-date"></span>
                </div>
                <div class="editor">
                    <div class="preview" style="display: none"></div>
                    <div class="summernote"></div>
                </div>
            </td>
        </tr>
    </table>

    <script type="text/template" id="search-item">
        <% if (notes.length === 0) { %>
            No Results
        <% } else { %>
            <% _(notes).each(function(note){ %>
                <a href="#<%=note.url%>" class="list-group-item notes <% if(window.location.hash==='#'+note.url){ print('active'); }%>">
                    <%=note.title%>
                    <span class="trash-note" title="Move to trash" data-id="<%=note.url%>">
                        <i class="glyphicon glyphicon-remove-circle"></i>
                    </span>
                </a>
            <% }); %>
        <% } %>
    </script>

    <script type="text/template" id="list-item">
        <% if (notes.length === 0) { %>
            No Notes
        <% } else { %>
            <% _(notes).each(function(note){ %>
                <a href="#<%=note.url%>" class="list-group-item notes <% if(window.location.hash==='#'+note.url){ print('active'); }%>">
                    <%=note.title%>
                    <span class="trash-note" title="Move to trash" data-id="<%=note.url%>">
                        <i class="glyphicon glyphicon-remove-circle"></i>
                    </span>
                </a>
            <% }); %>
        <% } %>
    </script>

    <script type="text/template" id="trash-list-item">
        <% if (notes.length === 0) { %>
            Trash is empty
        <% } else { %>
            <% _(notes).each(function(note){ %>
                <a href="#<%=note.url%>" class="list-group-item notes <% if(window.location.hash==='#'+note.url){ print('active'); }%>">
                    <%=note.title%>
                    <span class="untrash-note" title="Remove from trash" data-id="<%=note.url%>">
                        <i class="glyphicon glyphicon-share-alt"></i>
                    </span>
                    <span class="remove-note" title="Delete Note" data-id="<%=note.url%>">
                        <i class="glyphicon glyphicon-remove-circle"></i>
                    </span>
                </a>
            <% }); %>
        <% } %>
    </script>

    <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="components/underscore/underscore.js"></script>
    <script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="components/mousetrap/mousetrap.min.js"></script>
    <script type="text/javascript" src="components/lunr.js/lunr.min.js"></script>
    <script type="text/javascript" src="components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="components/markdown/lib/markdown.js"></script>

    <script type="text/javascript" src="//cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
    <script type="text/javascript" src="//cdn.firebase.com/js/simple-login/1.6.1/firebase-simple-login.js"></script>


    <!-- <script type="text/javascript" src="//rawgit.com/HackerWins/summernote/master/dist/summernote.min.js"></script> -->

    <script type="text/javascript" src="components/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="components/codemirror/keymap/sublime.js"></script>
    <script type="text/javascript" src="components/codemirror/mode/markdown/markdown.js"></script>


    <script type="text/javascript" src="core/core.js"></script>
    <script type="text/javascript" src="core/view.js"></script>

    <script type="text/javascript">
        $(function () {
            window.core = new NotesCore();
            new NotesVew(core);
        });
    </script>
</body>
</html>
